{% extends "formie-rest-api/_layouts/settings" %}
{% set title = 'General Settings'|t('formie-rest-api') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'general' %}

{% set crumbs = [
    {
        label: 'Settings'|t('app'),
        url: cpUrl('settings'),
    },
    {
        label: 'Plugins'|t('app'),
        url: cpUrl('settings/plugins'),
    },
    {
        label: formieRestApiHelper.fullName|t('formie-rest-api'),
        url: cpUrl('formie-rest-api/settings'),
    },
    {
        label: 'General'|t('formie-rest-api'),
        url: cpUrl('formie-rest-api/settings/general'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    {{ actionInput('formie-rest-api/settings/save') }}
    {{ redirectInput('formie-rest-api/settings/general') }}
    {{ hiddenInput('section', 'general') }}

        <h2 class="first">{{ 'General Settings'|t('formie-rest-api') }}</h2>

        {{ forms.textField({
            label: 'Plugin Name'|t('formie-rest-api'),
            instructions: 'The name of the plugin as it appears in the Control Panel menu'|t('formie-rest-api'),
            id: 'pluginName',
            name: 'settings[pluginName]',
            value: settings.pluginName,
            placeholder: 'Formie REST API',
            required: true,
            errors: settings.getErrors('pluginName'),
            disabled: settings.isOverriddenByConfig('pluginName'),
            warning: settings.isOverriddenByConfig('pluginName') ?
                "This is being overridden by the <code>pluginName</code> setting in <code>config/formie-rest-api.php</code>."|t('formie-rest-api')|raw : null,
        }) }}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
