{% extends "formie-rest-api/_layouts/settings" %}
{% set title = 'General Settings'|t('formie-rest-api') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'general' %}

{% set crumbs = [
    {
        label: 'Settings'|t('formie-rest-api'),
        url: url('formie-rest-api/settings'),
    },
    {
        label: 'General'|t('formie-rest-api'),
        url: url('formie-rest-api/settings/general'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ actionInput('formie-rest-api/settings/save') }}
        {{ csrfInput() }}
        {{ redirectInput('formie-rest-api/settings/general') }}
        {{ hiddenInput('section', 'general') }}

        <h2 style="margin-top: 0px;">{{ 'General Settings'|t('formie-rest-api') }}</h2>

        {{ forms.textField({
            label: 'Plugin Name'|t('formie-rest-api'),
            instructions: 'The public-facing name of the plugin'|t('formie-rest-api'),
            id: 'pluginName',
            name: 'settings[pluginName]',
            value: settings.pluginName,
            placeholder: 'Formie REST API',
            required: true,
            errors: settings.getErrors('pluginName'),
            disabled: settings.isOverriddenByConfig('pluginName'),
            warning: settings.isOverriddenByConfig('pluginName') ?
                "This is being overridden by the <code>pluginName</code> setting in <code>config/formie-rest-api.php</code>."|t('formie-rest-api')|raw : null,
        }) }}
    </form>

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
